/* === 전체 초기화 === */
html, body {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* === 메인 배경 === */
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: 0;
  z-index: 0;
}

/* === 음악 버튼 === */
#musicButton {
  position: fixed;
  top: 47vh;   /* 600px ÷ 1080 */
  left: 9.6vw;  /* 220px ÷ 1920 */
  width: 6.2vw;  /* 130px ÷ 1920 */
  cursor: 0;
  z-index: 3;
  transition: transform 0.1s ease;
}
#musicButton:hover {
  position: fixed;
  transform: scale(1.5);
}

/* === 중앙 교체 이미지 === */
#innerImage {
  position: fixed;
  top: 23vh;   /* 300px ÷ 1080 */
  left: 27vw;  /* 600px ÷ 1920 */
  width: 40vw; /* 900px ÷ 1920 */
  height: 45vh;/* 560px ÷ 1080 */
  object-fit: cover;
  border-radius: 5px;
  z-index: 3;
  transition: opacity 0.4s ease;
}

/* === 오른쪽 버튼 공통 === */
#btn1, #btn2, #btnNone, #btnHome {
  position: fixed;
  width: 4.2vw;   /* 80px ÷ 1920 */
  height: 5.4vh;  /* 58px ÷ 1080 */
  cursor: pointer;
  z-index: 2;
}

/* === 개별 버튼 위치 === */
#btn1 {
  position: fixed;
  top: 29vh;   /* 367px ÷ 1080 */
  left: 66.9vw;/* 1500px ÷ 1920 */
}
#btn2 {
  position: fixed;
  top: 34vh; /* 427px ÷ 1080 */
  left: 66.9vw;
}
#btnNone {
  position: fixed;
  top: 24vh; /* 310px ÷ 1080 */
  left: 66.9vw;

}
